{% extends "base.html" %}
{% block title %}Обо мне{% endblock %}
{% block header %}Обо мне{% endblock %}
{% block content %}
    <div class="container">
            <div class="list-group">
                <a href="https://github.com/MamontovDN" class="list-group-item">
                    <h4 class="list-group-item-heading">GitHub</h4>
                    <p class="list-group-item-text">MamontovDN</p>
                </a>
                <a href="https://spb.hh.ru/resume/4708a851ff0877cc2e0039ed1f575434747a68" class="list-group-item">
                    <h4 class="list-group-item-heading">HeadHunter</h4>
                    <p class="list-group-item-text">Дмитрий Мамонтов</p>
                </a>
                <a  class="list-group-item">
                    <h4 class="list-group-item-heading">Почта</h4>
                    <p class="list-group-item-text">mamontovdn@yandex.ru</p>
                </a>
                <a class="list-group-item">
                    <h4 class="list-group-item-heading">Телефон</h4>
                    <p class="list-group-item-text">+79818130761</p>
                </a>
            </div>
    </div>
{% endblock %}